.hamburger_menu{
    display: none;
}


@media screen and (max-width:560px){
   .hamburger_menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1020;
} 
.hamburger_elements{
    color: black;
}
}